extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Enter your email

          //- This will submit the data when we click the button
          //- There are different ways of sending data, the default is the URL encoded
          //- it will encode all the data we are submitting in the url like a query string.
          //- We also need to specify the name property on the fields we want to send.
          //- The problem with this approach is that this reloads the page
          //- and if there is an error it renders a whole new page with only the error message
          //- and it is not a good user experience so we have used the API we have created
          //- * If we want to send a file using this approach and NOT use an API then we need to add another attribute
          //- called enctype.
          //- The enctype needs to be multipart/form-data
          //- Multipart is always for sending files to the server.
          //- form.form.form-user-data(action="/submit-user-data", method="POST",enctype="multipart/form-data")
          form.form.form-forgot-password
            .form__group.ma-bt-md
              label.form__label(for="email") Email address
              input#email.form__input(type="email", required, name="email")
            .form__group.form__photo-upload
            .form__group.form__photo-upload
            .form__group.right
              button.btn.btn--small.btn--green Send Email
